.container
  .row
    .slider-container
      #slider
        = image_tag("/slider/1.jpg", alt: "Slide 1", class: "sl", style: "display: block;")
        = image_tag("/slider/2.jpg", alt: "Slide 2", class: "sl", style: "display: none;")
        = image_tag("/slider/3.jpg", alt: "Slide 3", class: "sl", style: "display: none;")
        .caption
          .row
            .col-sm-2
              .point
                a href="#" id="prev" <<
                a href="#" id="next" >>
            .col-sm-5
              .text-block
                | Фотографиям вашего ребенка позавидуют даже звезды
            .col-sm-5
              .button-block
                a href="#" НАЧАТЬ ОБУЧЕНИЕ >>
