= simple_form_for(@post) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body
    = f.input :tag_list
    = f.input :approved

  .form-actions
    = f.button :submit
