.container
  .row
    .tagcloud
      - @all_tags.each do |tag|
        ul style="display:inline-block;"
          li= link_to tag_path(tag) do
            span= tag.name
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      - @posts.each do |post|
        .post-preview
          = link_to post_path(post) do
            h2.post-title= post.title
            p.post-meta= post.user.name
            h5 Tags
            .tags
              = render post.tags
            hr
    = paginate @posts, theme: 'twitter-bootstrap-3'
    ul.pager
      - if current_user 
        li
          = link_to 'New Post', new_post_path
        li
          = link_to 'My Posts', user_posts_path

