p#notice = notice
article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        h2= @post.title
        p= @post.body
        h4 Tags
        .tags
          = render @post.tags
        hr
        = form_tag "/posts/add_new_comment" do
          = hidden_field_tag "id", @post.id
          = text_area_tag "comment[comment]", nil, class: "form-control"
          br
          = submit_tag "Post Comment", class: "btn btn-default"
        hr
        - if @post.comments.count > 0
          - @post.comments.each do |comment|
            .row.comment_block
              .col-sm-2
                .thumbnail
                  img.img-responsive.user-photo src="/avatar.png"
              .col-sm-10
                .panel.panel-default
                  .panel-heading
                    strong= comment.user.name
                    span.text-muted= comment.created_at.strftime('%b %e, %l:%M %p')
                .panel-body= comment.comment
                - if current_user == comment.user && comment.is_new?
                  = link_to 'Delete', delete_comment_path(comment_id: comment.id, post_id: @post.id)
        - else
          h4 There is no comments yet.
ul.pager
  - if current_user == @post.user
    li
      = link_to 'Edit', edit_post_path(@post)
  li
    = link_to 'Back', posts_path
