.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      - @posts.each do |post|
        .post-preview
          = link_to post_path(post) do
            h2.post-title= post.title
            hr